<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    
</head>
<body style="background-color: rgb(60, 52, 52)">
 
  <div>
    {% if profile.img is not None %}
        <img src="{{ profile.img }}" alt="">
    {% else %}
        <img src="{% static 'profileicon.jpg' %}" alt="">
    {% endif %}
</div>
<div>
  <img src="{% static 'profileicon.jpg' %}" alt="" style="align-self: center; border-radius: 80px; margin-left: 450px;">
</div>
<br>
    <div class="profilepage" style="background-color:; height:230px; display: flex; flex-direction: column;border-radius: 10px;" >
        <span style="color: white;font-size: large; margin: 10px; font-weight: 500;">Name: {{profile.Name}}</span>
        <span style="color: white;font-size: large; margin: 10px;font-weight: 500;">Facebook url: {{profile.facebook}}</span>
        <span style="color: white;font-size: large; margin: 10px;font-weight: 500;">Instagram url: {{profile.instagram}}</span>
        <span style="color: white;font-size: large; margin: 10px;font-weight: 500;">About: {{profile.about}}</span>
   
        {% if user == request.user %}
        <button style="background-color: blue; color: white; width: 90px; height: 50px; align-self: center; border-radius: 10px; border-style:hidden ;"><a href="{% url 'editprofile' %}" style="color: white;text-decoration: none; font-size: medium;">Edit Details</a></button>

        {% endif %}
      </div>
      <div style="">
        <section class="mt-5 pt-5">
          <div class="container">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col" style="padding: 10px; text-align: center;color: white;">#</th>
                          <th scope="col" style="padding: 10px; text-align: center;color: white;">Blog Title</th>
                          <th scope="col" style="padding: 10px; text-align: center;color: white;">Created At</th>
                          <th scope="col" style="padding: 10px; text-align: center;color: white;">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for blog in blog_objs %}
                      <tr>
                          <th scope="row" style="padding: 10px; text-align: center; color: white;">{{ forloop.counter }}</th>
                          <td style="padding: 10px; text-align: center; font-weight: 700; color: white;">{{ blog.title }}</td>
                          <td style="padding: 10px; text-align: center; font-weight: 700;color: white;">{{ blog.created_at }}</td>
                          <td style="padding: 10px; text-align: center;">
                              <button style="background-color: yellow; border-style: hidden; height: 30px;border-radius: 10px;"><a href="{% url 'blog_update' blog.slug %}" style="margin-right: 10px; text-decoration: none; background-color: yellow; color: black;">Update</a></button>
                              <button style="background-color: rgb(67, 67, 248);border-style: hidden;height: 30px;border-radius: 10px;"><a href="{% url 'blog_delete' blog.id %}" style="text-decoration: none;background-color:rgb(67, 67, 248); color: black;">Delete</a></button>
                
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </section>
      </div>
        

    

</body>
</html>